<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-rprogramming" role="menuitem"><a href="{{site.baseurl}}tag/rprogramming/">R</a></li>
    <li class="nav-processmining" role="menuitem"><a href="{{site.baseurl}}tag/processmining/">Processmining</a></li>
    <li class="nav-python" role="menuitem"><a href="{{site.baseurl}}tag/python/">Python</a></li>
    <li class="nav-kaggle" role="menuitem"><a href="{{site.baseurl}}tag/kaggle">kaggle</a></li>
    <li class="nav-appliedTextAnalysisWithPython" role="menuitem"><a href="{{site.baseurl}}tag/appliedTextAnalysisWithPython">applied_Text_Analysis_With_Python</a></li>

    <li class="nav-archive" role="menuitem">
        <a href="/archive.html">All Posts</a>
    </li>
    <li class="nav-archive" role="menuitem">
        <a href="/author_archive.html">Tag별 Posts</a>
    </li>
</ul>
