<span class="table-of-contents-list">Natural Language Processing (NLP) in Python with 8 Projects</span>
<ul class="table-of-contents-list">
    <li><a href="https://seongjae-yoo.github.io/Tokenization">Tokenization Basics</a></li>
    <li><a href="https://seongjae-yoo.github.io/Stemming">Stemming and Lemmatization</a></li>
    <li><a href="https://seongjae-yoo.github.io/StopWords">Stop Words</a></li>
    <li><a href="https://seongjae-yoo.github.io/VocabularyandMatching">Vocabulary_and_Matching</a></li>
    <li><a href="https://seongjae-yoo.github.io/PartofSpeechTagging">POS Tagging</a></li>
    <li><a href="https://seongjae-yoo.github.io/NamedEntityRecognition">Named Entity Recognition</a></li>
    <li><a href="https://seongjae-yoo.github.io/SentenceSegmentation">Sentence Segmentation</a></li>
    <li><a href="https://seongjae-yoo.github.io/Spam-Message-Classification">Spam Message Classification</a></li>
    <li><a href="https://seongjae-yoo.github.io/TfidfVectorizer">Tfidf Vectorizer</a></li>
    <li><a href="https://seongjae-yoo.github.io/RestaurantReviewsClassificationwithNLTK">Restaurant Reviews Classification with NLTK</a></li>
    <li><a href="https://seongjae-yoo.github.io/AmazonReviewClassification">IMDB and Amazon Review Classification with SpaCy</a></li>

</ul>
